$mobileTitle: 30px;
$mobileHeading: 20px;
$mobileText: 16px;

$tabletTitle: 40px;
$tabletHeading: 30px;
$tabletText: 20px;

$laptopTitle: 50px;
$laptopHeading: 35px;
$laptopText: 25px;


body {
    color: black;
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
}

hr {
    background-color: black;
    height: 2px;
    margin: -10px 0px 10px -10px;
}

h1 {
    font-size: $mobileTitle;
    margin: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: $mobileHeading;
}

h3 {
    font-size: $mobileText;
}

.head_wrapper {
    padding-left: 10px;
    display: grid;
}

.stats_wrapper {
    margin-top: 10px;
    margin-bottom: 80px;

    padding-left: 10px;

    height: 760px;
    display: grid;

    .stats_container {
        text-align: left;

        table {
            width: 60%;
            margin: auto;
            align-items: center;
            border: solid black 2px;
            border-collapse: collapse;

            tr {
                border: solid black 2px;
                padding: 10px;
                width: 100%;
                text-align: center;

                th {
                    padding: auto;
                    border: solid black 2px;
                    
                }
                
                td {
                    padding: 5px;
                    border: solid black 2px;
                    text-align: right;
                }
            }
        }
    }
}


.graph_wrapper {
    display: grid;
    height: 400px;
    padding: 10px;
    text-align: center;

    .graph {
        margin-bottom: 40px;

        h2 {
            margin-bottom: 0px;
        }
        
        img {
            border: solid black 2px;
            border-radius: 10%;
            display: block;
            margin: auto;
            height: 95%;
            width: 100%;
        }
    }
    
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: $tabletTitle;
    }

    h2 {
        font-size: $tabletHeading;
    }

    h3 {
        font-size: $tabletText;
    }

    .stats_wrapper {
        height: 900px;
        
        .stats_container {

            table {
                font-size: $tabletText;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: $tabletTitle;
    }

    h2 {
        font-size: $tabletHeading;
    }

    h3 {
        font-size: $tabletText;
        padding-left: 20px;
    }

    .stats_wrapper {
        height: 400px;

        grid-template-columns: repeat(3, 1fr);
        
        .stats_container {
            padding: 20px 30px;

            table {
                font-size: $tabletText;
            }
        }
    }

    .graph_wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin-top: -50px;
        
        .graph {
            margin: 40px 10px;    
        }
    }
}

@media screen and (min-width: 1800px) {
    h1 {
        font-size: $laptopTitle;
    }

    h2 {
        font-size: $laptopHeading;
        text-align: center;
    }

    h3 {
        font-size: $laptopText;
        padding-left: 40px;
    }
    
    .head_wrapper {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }


    .stats_wrapper {
        height: 400px;
        grid-template-columns: repeat(3, 1fr);
        
        .stats_container {
            padding: 20px 40px;
            
            table {
                font-size: $tabletText;
            }
        }
    }

    .graph_wrapper {
        grid-template-columns: repeat(5, 1fr);
        margin-top: -50px;
        
        .graph {
            margin: 40px 10px;    
        }
    }
}