<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session {{stats['ID']}} Report</title>
    <link rel="stylesheet" href="./htmlReportData/style.css">
</head>

<body>
    <h1>Session {{stats['ID']}} Statistics</h1>
    <hr>

    <div class="head_wrapper">
        <h3>Number Of Games: {{stats['Games']}} </h3>
        <h3>Number Of Threads: {{stats['Threads']}} </h3>

    </div>

    <div class="stats_wrapper">
        <div class="stats_container">
            <h2>Important Stats</h2>
            <hr>
            <h3>Best Game ID: {{stats['Best Game']}} </h3>
            <h3>Best Score: {{stats['Best Score']}} </h3>
            <h3>Worst Game ID: {{stats['Worst Game']}} </h3>
            <h3>Worst Score: {{stats['Worst Score']}} </h3>
            <h3>Max Tile: {{stats['Max Tile']}} </h3> 
            <h3>Total Session Time: {{stats['Total Time']}} </h3>
         
        </div>
        <div class="stats_container">
            <h2>Averages</h2>
            <hr>
            <h3>Average Score: {{stats['Average Score']}} </h3>
            <h3>Average Max Tile: {{stats['Average Max Tile']}} </h3> 
            <h3>Average Number of Moves: {{stats['Average Moves']}} </h3>
            <h3>Average Game Time: {{stats['Average Time']}} </h3>

         
        </div>
        <div class="stats_container">
            <h2>Max Tile Achieved</h2>
            <hr>
            <table>
                <tr>
                    <th>Tile</th>
                    <th>% Of Games</th>
                </tr>
                <tr>
                    <td>4096</td>
                    <td>{{stats['4096']}}</td>
                </tr>
                <tr>
                    <td>2048</td>
                    <td>{{stats['2048']}}</td>
                </tr>
                <tr>
                    <td>1024</td>
                    <td>{{stats['1024']}}</td>
                </tr>
                <tr>
                    <td>512</td>
                    <td>{{stats['512']}}</td>
                </tr>
                <tr>
                    <td>256</td>
                    <td>{{stats['256']}}</td>
                </tr>
                <tr>
                    <td>128</td>
                    <td>{{stats['128']}}</td>
                </tr>
            </table>
         
        </div>
    </div>

    <h1>Graphs</h1>
    <hr>
    <div class="graph_wrapper">
        <div class="graph">
            <h2>Best Game</h2>
            <img src="./htmlReportData/Best.png" alt="">
        </div>
        <div class="graph">
            <h2>Worst Game</h2>
            <img src="./htmlReportData/Worst.png" alt="">
        </div>
        <div class="graph">
            <h2>Quartile 3 Game</h2>
            <img src="./htmlReportData/Q3.png" alt="">
        </div>
        <div class="graph">
            <h2>Quartile 2 Game</h2>
            <img src="./htmlReportData/Q2.png" alt="">
        </div>
        <div class="graph">
            <h2>Quartile 1 Game</h2>
            <img src="./htmlReportData/Q1.png" alt="">
        </div>
    </div>
</body>

</html>